#custom-cursor {
    width: 35px;
    height: 20px;
    background-size: contain;
    position: fixed;
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
    }
    
    #custom-cursor.cursor1 {
    background-image: url('cursor/france.jpg');
    }
    
    #custom-cursor.cursor2 {
    background-image: url('cursor/ros.png');
    }
    
    #custom-cursor.cursor3 {
    background-image: url('cursor/ukr.png');
    }
